<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fruits App Homepage</title>
</head>
<body>
    <header>
        <h1>Welcome to Fruits App</h1>
        <nav>
            <a href='/auth/signUp'>Sign Up</a>
            <a href='/auth/logIn'>Log In</a>
        </nav>
    </header>
</body>
</html>