<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
</head>
<body>
    <h1>Log In</h1>
    <% if(typeof msg !== 'undefined') { %>
        <h3> <%=msg%> </h3>
     <% } %>
     <% if (typeof user === 'undefined') {user = {username: '', name: ''}} %>
    <form action='/auth/logIn' method='POST'>
        Username: <input type='text' name='username' value='<%=user.username%>' />
        Password: <input type='password' name='password' />
        <input type='submit' value='Login' />
    </form>
</body>
</html>